# What is data structure in programming language?

A data structure is a particular way of organizing data in a computer so that it can be used effectively.

# Data Structures in Python

Python has four basic inbuilt data structures namely Lists, Dictionary, Tuple and Set. These almost cover 80% of the our real world data structures.

## Lists

A list is similar to an array that consists of a group of elements or items. Just like an array, a list can store elements. But, there is one major difference between an array and a list. An array can store only one type of elements whereas a list can store different types of elements. Hence lists are more versatile and useful than an array. Perhaps lists are the most used datatype in Python programs.

In [1]:
# A simple list 
# Declaring a list 
L = [1, "a" , "string" , 1+2] 
print(L)

[1, 'a', 'string', 3]

In [2]:
type(L)

list

Creating Lists using range() function


range(start, stop, stepsize)

In [3]:
list_range = list(range(0,10,1))
print(list_range)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

## Tuples
A tuple is a python sequence which stores a group of elements or items. Tuples are similar to lists but the main difference is tuples are immutable whereas lists are mutable. Since tuples are immutable, once we create a tuple we cannot modify its elements.

In [4]:
tup1 = ()

In [5]:
tup1[0]

IndexError: tuple index out of range

In [7]:
tup2 = (10, 20, 'Hyderabad')

In [8]:
tup2[2]

'Hyderabad'

## Dictionaries
A dictionary represents a group of elements arranged in the form of key-value pairs. In the dictionary, the first element is considered as 'key' and the immediate next element is taken as its 'value'. The key and its value is separated by a colon (:).

All the key-value pairs in a dictionary are inserted in curly braces {}.

In [9]:
dict_1 = {'Name': 'Chandra',
        'ID': 54321,
        'Salary': 12500}

In [10]:
dict_1

{'Name': 'Chandra', 'ID': 54321, 'Salary': 12500}

## Sets

A Set is an unordered collection data type that is iterable, mutable and has no duplicate elements. Pythonâ€™s set class represents the mathematical notion of a set. The major advantage of using a set, as opposed to a list, is that it has a highly optimized method for checking whether a specific element is contained in the set.

In [11]:
# Python program to 
# demonstrate sets 
  
# Same as {"a", "b", "c"} 
Set = set(["a", "b", "c"]) 
  
print("Set: ") 
print(Set)

Set:
{'c', 'b', 'a'}

### Set Union Operations

In [12]:
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

Union of A and B is a set of all elements from both sets.

Union is performed using | operator. Same can be accomplished using the method union().

In [13]:
print(A|B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [14]:
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [15]:
B.union(A)

{1, 2, 3, 4, 5, 6, 7, 8}

### Set Intersection Operations

Intersection of A and B is a set of elements that are common in both sets.

Intersection is performed using & operator. Same can be accomplished using the method intersection().

In [16]:
print(A&B)

{4, 5}

In [17]:
A.intersection(B)

{4, 5}

In [18]:
B.intersection(A)

{4, 5}

### Set Difference Operations

Difference of A and B (A - B) is a set of elements that are only in A but not in B. Similarly, B - A is a set of element in B but not in A.

In [19]:
print(A - B)

{1, 2, 3}

In [20]:
print(B - A)

{8, 6, 7}

In [21]:
A.difference(B)

{1, 2, 3}

In [22]:
B.difference(A)

{6, 7, 8}

### Set Symmetric Difference

Symmetric Difference of A and B is a set of elements in both A and B except those that are common in both.

Symmetric difference is performed using ^ operator. Same can be accomplished using the method symmetric_difference().

In [23]:
print(A ^ B)

{1, 2, 3, 6, 7, 8}

In [24]:
A.symmetric_difference(B)

{1, 2, 3, 6, 7, 8}

In [25]:
B.symmetric_difference(A)

{1, 2, 3, 6, 7, 8}

# Lists - Operations

In [26]:
# Lets declare two list 

list_1 = [1,1,2,2,3,3,4,4]
list_2 = [5,5,6,6,7,7,8,8]

## Displaying list element by position

In [27]:
list_1[0]

1

In [28]:
list_1[4]

3

## Index

In [29]:
# Returns first occurance of x in list
# list_name.index(x)
list_1.index(3)

4

## Append

In [30]:
# append x in the end of the list
# list_name(x)
list_1.append(9)
list_1

[1, 1, 2, 2, 3, 3, 4, 4, 9]

## Insert

In [31]:
# inserts x in the position specified by i
# list_name(i,x)
list_1.insert(3,10)
list_1

[1, 1, 2, 10, 2, 3, 3, 4, 4, 9]

## Extend

In [32]:
# appends other list1 to existing list
# list.extend(list1)
list_1.extend(list_2)
list_1

[1, 1, 2, 10, 2, 3, 3, 4, 4, 9, 5, 5, 6, 6, 7, 7, 8, 8]

## Pop

In [33]:
# Removes the ending element from the list
list_2.pop()
list_2

[5, 5, 6, 6, 7, 7, 8]

## Reverse

In [34]:
# Reverse the sequence of elements in the list
list_2.reverse()
list_2

[8, 7, 7, 6, 6, 5, 5]

## Count

In [35]:
# Count the occurance of an element in a list
list_2.count(5)

2

## Sort

In [36]:
list_2.sort(reverse=True)
list_2

[8, 7, 7, 6, 6, 5, 5]

## Making List through Range

Creating list through Range:
range(start, stop, stepsize)

In [37]:
list_3 = list(range(2,20,2))

In [38]:
list_3

[2, 4, 6, 8, 10, 12, 14, 16, 18]

## Reference

In [39]:
list_3

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [40]:
list_4 = list_3

In [41]:
list_4.append(20)

In [42]:
list_4

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [43]:
list_3

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

## Copy

In [44]:
list_2

[8, 7, 7, 6, 6, 5, 5]

In [45]:
list_5 = list_2.copy()

In [46]:
list_5.append(45)

In [47]:
list_5

[8, 7, 7, 6, 6, 5, 5, 45]

In [48]:
list_2

[8, 7, 7, 6, 6, 5, 5]

In [ ]:
Questions

# List Exercise

## Question: 1
Create a program to take 'n': number of elements in a list. Then these 'n' inputs from the user and store them in a list and print them on screen.

In [1]:
print("Enter the number of elements you want in the list:")
num_of_elements = int(input())
list_elements = []

for i in range(num_of_elements):
    print("Enter number ",i+1, ":")
    num = int(input())
    list_elements.append(num)

print(list_elements)

Enter the number of elements you want in the list:
3
Enter number  1 :
4
Enter number  2 :
5
Enter number  3 :
8
[4, 5, 8]

## Question: 2
Take 5 integer inputs from user and store them in a list. Again ask user to give a number. Now, tell user whether that number is present in list or not.

In [4]:
a = []
for i in range(0,5):
    print("Enter number ",i+1, ":")
    num = int(input())
    a.append(num)

print("Check for a number")
n = int(input())

if a.count(n)>0:
    print("Yes")
else:
    print("No")

Enter number  1 :
1
Enter number  2 :
2
Enter number  3 :
3
Enter number  4 :
4
Enter number  5 :
5
Check for a number
4
Yes

## Question: 3
Take 6 input from the user and check weather the number entered is even or odd. Create a list which store 'even' or 'odd' based on the number entered. Print this created list.

In [2]:
a = []
for i in range(0,6):
    print("Enter number ",i+1, ":")
    num = int(input())
    
    if num%2==0:
        a.append('even')
    else:
        a.append('odd')

print(a)

Enter number  1 :
2
Enter number  2 :
3
Enter number  3 :
4
Enter number  4 :
5
Enter number  5 :
6
Enter number  6 :
7
['even', 'odd', 'even', 'odd', 'even', 'odd']

## Question: 4

Take 10 integer inputs from user and print the following:
- number of positive numbers
- number of negative numbers
- number of odd numbers
- number of even numbers
- number of 0s.

In [3]:
a = []
for i in range(0,10):
    print("Enter number")
    num = int(input())
    a.append(num)


odd = 0
even = 0
zero = 0
positive = 0
negative = 0


for i in a:
    if i == 0:
        zero = zero+1
    if i>0:
        positive = positive + 1
    else:
        negative = negative + 1
    if i%2 == 0:
        even = even + 1
    else:
        odd = odd + 1
    
print("EVEN :",even,"ODD :",odd,"ZERO :",zero,"POSITIVE :",positive,"NEGATIVE :",negative)

Enter number
2
Enter number
3
Enter number
-3
Enter number
4
Enter number
6
Enter number
7
Enter number
4
Enter number
90
Enter number
-544
Enter number
78
EVEN : 7 ODD : 3 ZERO : 0 POSITIVE : 8 NEGATIVE : 2

## Question 5:
Create  a list and remove duplicates from it.

In [4]:
# Method 1
a = [1,2,3,2,1,3,12,12,32]
i = 0
temp = []
for i in a:
    if i not in temp:
        temp.append(i)

#Method 2 -> Python way
a = [1,2,3,2,1,3,12,12,32]
a = list(set(a))
print (a)

[32, 1, 2, 3, 12]

# Dictionary - Operations

In [5]:
dict_1 = {'name': 'Jack',
          'age': 27,
          'address': 'Downtown'}

In [6]:
dict_1

{'name': 'Jack', 'age': 27, 'address': 'Downtown'}

## Clear

In [8]:
# Remove all items form the dictionary.
dict_1.clear()

In [9]:
dict_1

{}

In [124]:
dict_2 = dict_1

In [125]:
dict_2.update({"C":431})

In [126]:
dict_1

{'name': 'Jack', 'age': 27, 'address': 'Downtown', 'C': 431}

## Copy

In [123]:
dict_1 = {'name': 'Jack',
          'age': 27,
          'address': 'Downtown'}

In [11]:
d_2 = dict_1.copy()

In [12]:
d_2

{'name': 'Jack', 'age': 27, 'address': 'Downtown'}

## fromkeys

In [18]:
# Return a new dictionary with keys from seq and value equal to v (defaults to None).

In [17]:
keys = {'a','e','i'}
value = 3
d_2.fromkeys(keys, value)

{'e': 3, 'a': 3, 'i': 3}

In [127]:
list_1 = ['a','b','c']
list_2 = [5,6,7]

In [129]:
dict_3 = dict(zip(list_1,list_2))

In [130]:
dict_3

{'a': 5, 'b': 6, 'c': 7}

## get

In [19]:
# Return the value of key. If key doesnot exit, return d (defaults to None).

In [20]:
dict_1

{'name': 'Jack', 'age': 27, 'address': 'Downtown'}

In [23]:
dict_1.get('name')

'Jack'

## items

In [24]:
#Return a new view of the dictionary's items (key, value).

In [25]:
dict_1.items()

dict_items([('name', 'Jack'), ('age', 27), ('address', 'Downtown')])

In [26]:
# We make use of items when we want to perform a 'for' loop operation using dictionary

## keys

In [28]:
#Return a new view of the dictionary's keys.
dict_1.keys()

dict_keys(['name', 'age', 'address'])

## values

In [30]:
# Return a new view of the dictionary's values
dict_1.values()

dict_values(['Jack', 27, 'Downtown'])

## update

In [31]:
# Update the dictionary with the key/value pairs from other, overwriting existing keys.

dict_1.update({"C":431})
dict_1

{'name': 'Jack', 'age': 27, 'address': 'Downtown', 'C': 431}

In [32]:
dict_1.update({"name":'Daniel'})
dict_1

{'name': 'Daniel', 'age': 27, 'address': 'Downtown', 'C': 431}

## Iterating over a dictionary

In [33]:
# Iterating over a dictionary
for k,v in dict_1.items():
    print(k,v)

name Daniel
age 27
address Downtown
C 431

# Dictionary Exercise

## Question 1:
Create a dictionary and remove the key value pair if the value is even

ex: input {"A": 123,"B": 431,"C":56}

output {"C":56}

In [34]:
dict_1 = {"A": 123,"B": 431,"C":56}
temp_dict = {}
for k,v in dict_1.items():
    if v%2==0:
        temp_dict.update({k:v})

## Question 2:
With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary.

In [49]:
print("Enter a number: ")
n=int(input())
d=dict()

for i in range(1,n+1):
    d[i]=i*i
    
print(d)

Enter a number:
6
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}

## Question 3:
Write a program which will:
1. Find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 2100 (both included).
2. Find all such numbers which are divisible by 9 but are not a multiple of 5, between 2000 and 2100 (both included).

Store these list of number in a dictionary in following way:

{'7_not_5': [list of number],
 '9_not_5 : [list of number]}

In [44]:
seven = []
nine = []

for i in range(2000, 2101):
    if (i%7==0) and (i%5!=0):
        seven.append(i)
    if (i%9==0) and (i%5!=0):
        nine.append(i)

dict_1 = {'7_not_5':seven,
         '9_not_5':nine}

In [45]:
dict_1

{'7_not_5': [2002,
  2009,
  2016,
  2023,
  2037,
  2044,
  2051,
  2058,
  2072,
  2079,
  2086,
  2093],
 '9_not_5': [2007, 2016, 2034, 2043, 2052, 2061, 2079, 2088, 2097]}

# User Defined Functions

A function is a block of code which only runs when it is called.

You can pass data, known as parameters, into a function.

A function can return data as a result.

## Creating a Function

In Python a function is defined using the def keyword:

In [58]:
def my_function():
    print("Hello from a function")

## Calling a Function

In [59]:
my_function()

Hello from a function

## Arguments/Parameters

Information can be passed into functions as arguments.

Arguments are specified after the function name, inside the parentheses. You can add as many arguments as you want, just separate them with a comma.

In [63]:
def my_function(fname):
    print("Greetings from " + fname)

In [64]:
my_function('Devesh')

Greetings from Devesh

In [65]:
my_function("Sidharth")

Greetings from Sidharth

## Number of Arguments

By default, a function must be called with the correct number of arguments. Meaning that if your function expects 2 arguments, you have to call the function with 2 arguments, not more, and not less.

In [76]:
def my_function(fname, lname):
    print(fname + " " + lname)

In [78]:
my_function("First Name", "Second Name")

First Name Second Name

## Default Parameter Value

The following example shows how to use a default parameter value.

If we call the function without argument, it uses the default value:

In [82]:
def my_function(country = "India"):
    print("I am from " + country)

In [83]:
my_function()

I am from India

In [84]:
my_function("United States")

I am from United States

## Passing a List as an Argument

You can send any data types of argument to a function (string, number, list, dictionary etc.), and it will be treated as the same data type inside the function.

In [73]:
def joey_loves_food(food):
    for x in food:
        print(x)

snacks = ["sandwich","lasagna","turkey","jam"]

In [75]:
joey_loves_food(snacks)

sandwich
lasagna
turkey
jam

## Return Values

In [86]:
def my_function(x):
    return 5 * x

In [87]:
print(my_function(3))
print(my_function(5))
print(my_function(9))

15
25
45

## Lambda

A lambda function is a small anonymous function.

A lambda function can take any number of arguments, but can only have one expression.

lambda arguments : expression

In [ ]:
# A lambda function that adds 10 to the number passed in as an argument, and print the result:

x = lambda a : a + 10

print(x(5))

Lambda functions can take any number of arguments.

In [90]:
# A lambda function that multiplies argument a with argument b and print the result:

x = lambda a, b : a * b
print(x(5, 6))

30

In [91]:
x = lambda a, b, c : a + b + c
print(x(5, 6, 2))

13

# User Defined Functions - Exercise

## Question 1:
Create a user defined function to add two numbers and print the sum value.

In [88]:
def add_numbers(x,y):
    sum = x + y
    return sum

num1 = 5
num2 = 6

print("The sum is", add_numbers(num1, num2))

The sum is 11

## Question 2:
Create a user defined function to return squares of number from 1 to 'n'. Return the squares in a list format.

In [102]:
def square_num(n):
    
    num_list = list(range(1,n+1))
    
    c = [i**2 for i in num_list]
    
    return c

In [103]:
square_num(4)

[1, 4, 9, 16]

## Question 3:
Given a list with five positive integers, create a user defined function to find the minimum and maximum values that can be calculated by summing exactly four of the five integers. Then print the respective minimum and maximum values as a single line of two space-separated long integers.

In [117]:
def miniMaxSum(arr):
    arr_main = arr
    arr_main.sort()
    min_sum = sum(arr_main[0:-1])
    max_sum = sum(arr_main[1:len(arr_main)])
    min_max = list([min_sum,max_sum])
    return min_max

In [118]:
list_1 = [3,4,9,56,2]
list_2 = [5,7,32,87,12]

In [119]:
miniMaxSum(list_1)

[18, 72]

In [120]:
miniMaxSum(list_2)

[56, 138]

# Problem Solving

## Question 1:
Given a square matrix, calculate the absolute difference between the sums of its diagonals.

In [110]:
# import random

# arr_2 = [[random.randint(3,9) for i in range(4)] for j in range(4)]

In [138]:
arr_1

[[5, 8, 4], [3, 4, 9], [6, 5, 7]]

In [139]:
arr_1[0][0]

5

In [144]:
arr_1[2][2]

7

In [143]:
arr_1[1][1]

4

In [140]:
arr_2

[[9, 9, 9, 9], [7, 4, 3, 7], [6, 3, 4, 5], [4, 8, 7, 3]]

In [141]:
def diagonalDifference(arr):
    n = len(arr)
    primary_diagonal = 0
    for i in range(n):
        for j in range(n):
            if i==j:
                primary_diagonal = primary_diagonal + arr[i][j]
    
    secondary_diagonal = 0
    for i in range(n):
        for j in range(n):
            if i+j==n-1:
                secondary_diagonal = secondary_diagonal + arr[i][j]
        
   
    difference = abs(primary_diagonal-secondary_diagonal)
    
    return difference

In [142]:
diagonalDifference(arr_1)

2

In [116]:
diagonalDifference(arr_2)

1

## Question 2:
You are in charge of the cake for your niece's birthday and have decided the cake will have one candle for each year of her total age. When she blows out the candles, sheâ€™ll only be able to blow out the tallest ones. Your task is to find out how many candles she can successfully blow out.

For example, if your niece is turning 4 years old, and the cake will have 4 candles of height 4, 4, 1, 3, she will be able to blow out 2 candles successfully, since the tallest candles are of height 4 and there are 2 such candles.

Create a user defined function, which takes the input:
- age of the person
- enter the height of the candles

Output:
- number of candles that can be blown

In [121]:
def birthdayCakeCandles():
    
    print("Enter age of the person: ")
    age = int(input())
    
    ar = []

    for i in range(age):
        print("Enter height of the candles ",i+1, ":")
        num = int(input())
        ar.append(num)
        
    ar.sort(reverse=True)
    max_num = max(ar)
    
    list_max = len([x for x in ar if x == max_num])

    return list_max

In [122]:
birthdayCakeCandles()

Enter age of the person:
5
Enter height of the candles  1 :
5
Enter height of the candles  2 :
6
Enter height of the candles  3 :
7
Enter height of the candles  4 :
7
Enter height of the candles  5 :
7

3

## Question 3:
Given a time in - hour AM/PM format, convert it to military (24-hour) time.

Note: Midnight is 12:00:00AM on a 12-hour clock, and 00:00:00 on a 24-hour clock. Noon is 12:00:00PM on a 12-hour clock, and 12:00:00 on a 24-hour clock.

Create a user defined function, which takes

input:
- 07:05:45PM

output:
- 19:05:45

Test it with inputs:
- 12:40:22AM #(00:40:22)
- 06:40:03AM #(06:40:03)
- 02:34:50PM #(14:34:50)

In [131]:
def timeConversion():    
    s = input()
    s_list = s.split(':')
    hour = str(s_list[0])
    minute = str(s_list[1])
    second = str(s_list[2][:2])
    am_pm = str(s_list[2][-2:])

    if (am_pm == 'AM') and (hour=='12'):
        new_hour = '00'
        new_time = str(str(new_hour)+':'+minute+':'+second)
    elif am_pm == 'AM':
        new_time = str(str(hour)+':'+minute+':'+second)
    elif am_pm == 'PM' and (hour=='12'):
        new_time = str(str(hour)+':'+minute+':'+second)
    else:
        new_hour = int(hour) + 12
        new_time = str(str(new_hour)+':'+minute+':'+second)
    
    return new_time

In [146]:
timeConversion()

07:05:45PM

'19:05:45'

In [147]:
timeConversion()

06:40:03AM

'06:40:03'

## Question 4:
Gary is an avid hiker. He tracks his hikes meticulously, paying close attention to small details like topography. During his last hike he took exactly 'n' steps. For every step he took, he noted if it was an uphill,'U', or a downhill, 'D' step. Gary's hikes start and end at sea level and each step up or down represents a 1 unit change in altitude. We define the following terms:

- A mountain is a sequence of consecutive steps above sea level, starting with a step up from sea level and ending with a step down to sea level.
- A valley is a sequence of consecutive steps below sea level, starting with a step down from sea level and ending with a step up to sea level.

Given Gary's sequence of up and down steps during his last hike, find and print the number of valleys he walked through.

For example, if Gary's path is:

s = [DDUUUUDD]

He first enters a valley  units deep. Then he climbs out an up onto a mountain  units high. Finally, he returns to sea level and ends his hike.

Create a User Defined Function to solve this problem with the following description:

Complete the countingValleys function in the editor below. It must return an integer that denotes the number of valleys Gary traversed.

countingValleys has the following parameter(s):

- s: a string describing his path

Test your function with following inputs:

- UDDDUDUU
- output: 1


- DDUUDDUDUUUD
- output: 2


- UDUUUDUDDD
- output: 0



- DUDDDUUDUU
- output: 2


- DDUDDUUDUU
- output: 1

In [4]:
def countingValleys():
    
    print("Enter steps takens in described way: ")
    every_step = list(input())

    all_step = 0
    c = 0

    for i in every_step:
        all_step_prev = all_step
        if i=='U':
            all_step = all_step + 1
        else:
            all_step = all_step - 1
        
        if (all_step_prev==-1) and (all_step==0):
            c = c+1
    
    return c

In [7]:
countingValleys()

Enter steps takens in described way:
DDUDDUUDUU

1