# What are built-in Python functions?

The Python interpreter has a number of functions and types built into it that are always available.

# Built-In Functions -  Data Structure

## dict()
Returns a dictionary.

In [40]:
dict_1 = dict(name="xyz", age=48)

In [41]:
dict_1

{'name': 'xyz', 'age': 48}

## list()

The list() function creates a list object.

In [245]:
list_1 = ['abc',909]
type(list_1)

list

## tuple()

The tuple() function creates a tuple object.

In [247]:
tup_1 = (3,4,5)

In [248]:
tup_1

(3, 4, 5)

## set()

The set() function creates a set object.

The items in a set list are unordered, so it will appear in random order.

In [175]:
x = set("Hello")

In [176]:
x

{'H', 'e', 'l', 'o'}

# Built-In Functions - Datatype

## int()

The int() function converts the specified value into an integer number.

In [233]:
int(134.09893)

134

In [234]:
int("45678")

45678

## float()
The float() function converts the specified value into a floating point number.

In [92]:
float("3.500")

3.5

In [93]:
float(3)

3.0

## str()

The str() function converts the specified value into a string.

In [209]:
str(12)

'12'

In [210]:
str(3.5)

'3.5'

In [213]:
str(list_1)

"['W', 'o', 'r', 'l', 'd']"

## bool()
The bool() function converts the given value to a boolean value (True or False). If the given value is False, the bool function returns False else it returns True.

As we seen in the syntax that the bool() function can take a single parameter (value that needs to be converted). It converts the given value to True or False.

If we donâ€™t pass any value to bool() function, it returns False.

In [35]:
list_1 = []
bool(list_1)

False

In [36]:
num = 99

bool(num)

True

In [37]:
num = 0
bool(num)

False

In [38]:
str_1 = ''
bool(str_1)

False

In [39]:
str_1 = 'T'
bool(str_1)

True

 # Built-In Functions - Mathematic Operations

## abs()
The abs() function returns the absolute value of the specified number.

In [3]:
abs(-98)

98

## divmod()
The divmod() function returns a tuple containing the quotient  and the remainder when argument1 (divident) is divided by argument2 (divisor).

divmod(divident, divisor)


divident - A Number. The number you want to divide

divisor - A Number. The number you want to divide with

In [42]:
divmod(5,2)

(2, 1)

In [43]:
divmod(9,3)

(3, 0)

In [44]:
divmod(8,5)

(1, 3)

## max() and min()

The max() function returns the item with the highest value, or the item with the highest value in an iterable.

The min() function returns the item with the lowest value, or the item with the lowest value in an iterable.

If the values are strings, an alphabetically comparison is done.

In [150]:
max([6767,5687,435])

6767

In [152]:
min([6767,5687,435])

435

In [151]:
max("Hello World")

'r'

In [153]:
min("Hello World")

' '

## pow()

The pow() function returns the value of x to the power of y (xy).

If a third parameter is present, it returns x to the power of y, modulus z.

pow(x, y, z)

- x - A number, the base

- y - A number, the exponent

- z - Optional. A number, the modulus

In [154]:
pow(4,3)

64

In [156]:
pow(4, 3, 5)  # same as (4 * 4 * 4) % 5

4

## range()

The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number.

- start: Optional. An integer number specifying at which position to start. Default is 0

- stop: Required. An integer number specifying at which position to end.

- step: Optional. An integer number specifying the incrementation. Default is 1

In [158]:
for i in range(5):
    print(i)

0
1
2
3
4

In [160]:
for i in range(1,5):
    print(i)

1
2
3
4

In [161]:
for i in range(1,5,2):
    print(i)

1
3

## round()

The round() function returns a floating point number that is a rounded version of the specified number, with the specified number of decimals.

The default number of decimals is 0, meaning that the function will return the nearest integer.

round(number, digits)

number - Required. The number to be rounded

digits - Optional. The number of decimals to use when rounding the number. Default is 0

In [172]:
x = 5.76543

round(x)

6

In [173]:
x = 5.36543

round(x)

5

In [174]:
x = 5.36543

round(x,2)

5.37

## sum()

The sum() function returns a number, the sum of all items in an iterable.

sum(iterable, start)

- iterable: Required. The sequence to sum
- start: Optional. A value that is added to the return value

In [214]:
list_1 = [1,2,3,4,5,6]

sum(list_1)

21

In [215]:
sum(list_1, 10)

31

# Built-In Functions - Other Important Functions

## len()

The len() function returns the number of items in an object.

When the object is a string, the len() function returns the number of characters in the string.

In [19]:
mylist = ["apple", "banana", "cherry"]

len(mylist)

3

In [20]:
str_1 = "apple"

len(str_1)

5

## type()

The type() function returns the type of the specified object

In [21]:
a = ('apple', 'banana', 'cherry')
type(a)

tuple

In [22]:
b = ['apple', 'banana', 'cherry']
type(b)

list

In [23]:
c = {'name':'amigo'}
type(c)

dict

In [24]:
d = "Hello World"
type(d)

str

In [25]:
e = 33
type(e)

int

### Question

Create a UDF which takes a list as an input parameter, the list contains elements belonging to 'string','int','float'. The UDF should return a dict with count of various datatype, if there is any other type of datatype in the list, the UDF should return it with 'other' key.

In [30]:
dict_2 = {'name':'amigo'}

list_1 = ['monica',123, 67.87, 4.222, 'chandler', 'ross',dict_2]

In [62]:
def datatype_count(x):
    string_val = []
    int_val = []
    float_val = []
    other = []
    
    for i in x:
        if type(i)==str:
            string_val.append(i)
        elif type(i)==int:
            int_val.append(i)
        elif type(i)==float:
            float_val.append(i)
        else:
            other.append(i)
            
    dict_1 = {'string_val':len(string_val),
              'int_val':len(int_val),
              'float_val':len(float_val),
              'other':len(other)
             }
    return dict_1

In [63]:
datatype_count(list_1)

{'string_val': 3, 'int_val': 1, 'float_val': 2, 'other': 1}

In [64]:
type(list_1[1])

int

## isinstance()

The isinstance() function returns True if the specified object is of the specified type, otherwise False.

If the type parameter is a tuple, this function will return True if the object is one of the types in the tuple.

In [34]:
isinstance(2356,int)

True

In [35]:
isinstance(2356,float)

False

In [36]:
xyz = []
isinstance(xyz,list)

True

In [37]:
isinstance("Hello", (float, int, str, list, dict, tuple))

True

## filter()

The filter() method filters the given sequence with the help of a function that tests each element in the sequence to be true or not.

filter(function, sequence)
Parameters:
function: function that tests if each element of a 
sequence true or not.
sequence: sequence which needs to be filtered, it can 
be sets, lists, tuples, or containers of any iterators.
Returns:
returns an iterator that is already filtered.

In [65]:
ages = [5, 12, 17, 18, 24, 32]

def myFunc(x):
    if x < 18:
        return False
    else:
        return True

In [66]:
filter(myFunc, ages)

In [67]:
for i in filter(myFunc, ages):
    print(i)

18
24
32

In [84]:
adults = list(filter(myFunc, ages))
adults

[18, 24, 32]

In [91]:
# a list contains both even and odd numbers.  
seq = [0, 1, 2, 3, 5, 8, 13, -2] 

# result contains odd numbers of the list 
result = filter(lambda x: x % 2, seq) 
print(list(result))

# result contains even numbers of the list 
result = filter(lambda x: x % 2 == 0, seq) 
print(list(result))

[1, 3, 5, 13]
[0, 2, 8, -2]

### Question

Create a UDF which takes a list as an input parameter, the list contains elements belonging to 'string','int','float'. The UDF should return a dict with count of various datatype, if there is any other type of datatype in the list, the UDF should return it with 'other' key.

Make use isinstance(), filter() and lambda.

In [38]:
dict_2 = {'name':'amigo'}

list_1 = ['monica',123, 67.87, 4.222, 'chandler', 'ross',dict_2]

In [60]:
def datatype_count(list_1):
        
    string_val = list(filter(lambda x: isinstance(x, str), list_1))
    int_val = list(filter(lambda x: isinstance(x, int), list_1))
    float_val = list(filter(lambda x: isinstance(x, float), list_1))
    other = list(filter(lambda x: not(isinstance(x, (str,int,float))), list_1))
            
    dict_1 = {'string_val':len(string_val),
              'int_val':len(int_val),
              'float_val':len(float_val),
              'other':len(other)
             }
    return dict_1

In [61]:
datatype_count(list_1)

{'string_val': 3, 'int_val': 1, 'float_val': 2, 'other': 1}

In [57]:
string_val = list(filter(lambda x: isinstance(x, str), list_1))

In [49]:
string_val

['monica', 'chandler', 'ross']

In [50]:
string_val = list(filter(lambda x: isinstance(x, int), list_1))

In [51]:
string_val

[123]

## all()

Python all() function accepts an iterable object (such as list, dictionary etc.) as an argument. If all the elements in the passed iterable are true then all() function returns true else it returns false. If the iterable is empty then also this function returns true.

### Usage on Lists

In [18]:
# all values of this list are true
list_1 = [10, 5, 15, 77]

print(all(list_1))

True

In [2]:
# all values of this list are true
list_1 = ['a','hello']

print(all(list_1))

True

In [19]:
# non-zero values are considered true
list_1 = [10, 5, 15, -77]

print(all(list_1))

True

In [20]:
list_1 = [10, 5, 15, 0]

print(all(list_1))

False

In [21]:
# all values are false
# 0 is considered as false
list_2 = [0, False, 0]
print(all(list_2))

False

In [3]:
# one value is false, others are true

list_3 = [10, 0, 40]
print(all(list_3))

False

In [4]:
# empty iterable - no elements

list_5 = []
print(all(list_5))

True

### Usage on Dictionary

In [26]:
# Both the keys are true

dict_1 = {1: 'True', 2: 'False'}
print(all(dict_1))

True

In [27]:
# One of the key is false

dict_2 = {0: 'True', 1: 'True'}
print(all(dict_2))

False

## any()
Python any() function accepts iterable (list, tuple, dictionary etc.) as an argument and return true if any of the element in iterable is true, else it returns false. If iterable is empty then any() method returns false.

In [31]:
# all values are true

list_1 = [10, 20, 30, 40]
print(any(list_1))

True

In [32]:
# all values are false

list_2 = [0, False]
print(any(list_2))

False

In [34]:
# one value is false, one is true

list_3 = [0, True]
print(any(list_3))

True

## enumerate()
The enumerate() method adds counter to an iterable and returns it (the enumerate object).

The enumerate() method takes two parameters:

- iterable - a sequence, an iterator, or objects that supports iteration
- start (optional) - enumerate() starts counting from this number. If start is omitted, 0 is taken as start.

In [55]:
L = ['apples', 'bananas', 'oranges']

for idx, val in enumerate(L):
    print(idx, val)

0 apples
1 bananas
2 oranges

In [56]:
L = ['apples', 'bananas', 'oranges']

for idx, val in enumerate(L,100):
    print(idx, val)

100 apples
101 bananas
102 oranges

In [110]:
str_ = "Python"

dict_1 = {}
for idx, ch in enumerate(str_):
    dict_1.update({idx:ch})
    print(idx, ch)

0 P
1 y
2 t
3 h
4 o
5 n

In [111]:
dict_1

{0: 'P', 1: 'y', 2: 't', 3: 'h', 4: 'o', 5: 'n'}

## frozenset()

The frozenset() function returns an unchangeable frozenset object (which is like a set object, only unchangeable), an iterable object, like list, set, tuple etc.

In [260]:
mylist = ['apple', 'banana', 'cherry']

x = frozenset(mylist)

# this will throw an error, since the value cannot be modified
x[1] = "strawberry"

TypeError: 'frozenset' object does not support item assignment

In [264]:
x

frozenset({'apple', 'banana', 'cherry'})

In [261]:
type(x)

frozenset

In [263]:
for i in x:
    print(i)

apple
banana
cherry

In [12]:
mylist = ['apple', 'banana', 'cherry','cherry','Apple1']

x = frozenset(mylist)

In [13]:
x

frozenset({'Apple1', 'apple', 'banana', 'cherry'})

In [14]:
set(mylist)

{'Apple1', 'apple', 'banana', 'cherry'}

## id()
The id() function returns a unique id for the specified object.

All objects in Python has its own unique id.

The id is assigned to the object when it is created.

In [226]:
x = ('apple', 'banana', 'cherry')

y = id(x)

In [227]:
y

2179241243848

In [228]:
list_1 = [2]
list_4 = list_1

In [229]:
print(id(list_1))
print(id(list_4))

2179251867080
2179251867080

In [230]:
list_2 = [4]
list_3 = list_2.copy()

In [231]:
print(id(list_2))
print(id(list_3))

2179245385800
2179245386120

## input()
The input() function allows user input.

In [232]:
print('Enter your name:')
x = input()
print('Hello, ' + x)

Enter your name:

Hello,

## iter() and next()

The iter() function returns an iterator object.

The next() function returns the next item in an iterator.

In [114]:
x = iter(["apple", "banana", "cherry"])

In [115]:
a = next(x)

In [116]:
a

'apple'

In [117]:
b = next(x)
b

'banana'

In [113]:
print(next(x))
print(next(x))
print(next(x))

apple
banana
cherry

In [243]:
list_1 = [1, 2, 3, 4, 5]

list_iter = iter(list_1)

In [244]:
for i in range(len(list_1)):
    print(next(list_iter))

1
2
3
4
5

## map()

The map() function executes a specified function for each item in a iterable. The item is sent to the function as a parameter.

In [246]:
def myfunc(n):
    return len(n)

x = list(map(myfunc, ('apple', 'banana', 'cherry')))

In [145]:
for i in x:
    print(i)

5
6
6

In [149]:
list_1 = ['apple', 'banana', 'cherry']

list(map(len,list_1))

[5, 6, 6]

In [15]:
list_2 = [3,5,7,8]


list(map(lambda x: x**2, list_2))

[9, 25, 49, 64]

## slice()

The slice() function returns a slice object.

A slice object is used to specify how to slice a sequence. You can specify where to start the slicing, and where to end. You can also specify the step, which allows you to e.g. slice only every other item.

slice(start, end, step)


- start: Optional. An integer number specifying at which position to start the slicing. Default is 0

- end: Required. An integer number specifying at which position to end the slicing

- step: Optional. An integer number specifying the step of the slicing. Default is 1

In [177]:
list_1 = list("Alphabet")

In [178]:
list_1

['A', 'l', 'p', 'h', 'a', 'b', 'e', 't']

In [194]:
slice_1 = slice(5)

list_1[slice_1]

['A', 'l', 'p', 'h', 'a']

In [196]:
slice_2 = slice(2,5)

list_1[slice_2]

['p', 'h', 'a']

In [197]:
slice_3 = slice(1,5,2)

list_1[slice_3]

['l', 'h']

In [199]:
slice_4 = slice(1,5,3)

list_1[slice_4]

['l', 'a']

## reversed()

The reversed() function returns a reversed iterator object.

In [118]:
list_1 = list("Hello")

In [119]:
list_2 = reversed(list_1)

In [120]:
list_2

In [121]:
list(list_2)

['o', 'l', 'l', 'e', 'H']

In [21]:
for i in list_2:
    print(i)

## sorted()

The sorted() function returns a sorted list of the specified iterable object.

You can specify ascending or descending order. Strings are sorted alphabetically, and numbers are sorted numerically.

In [122]:
list_1 = list("World")

In [123]:
list_2 = sorted(list_1)

In [124]:
for i in list_2:
    print(i)

W
d
l
o
r

## zip()

The zip() function returns a zip object, which is an iterator of tuples where the first item in each passed iterator is paired together, and then the second item in each passed iterator are paired together etc.

If the passed iterators have different lengths, the iterator with the least items decides the length of the new iterator.

In [126]:
a = ("John", "Charles", "Mike")
b = ("Jenny", "Christy", "Monica", "Vicky")

x = zip(a, b)

In [127]:
x

In [128]:
m = dict(x)
print(m)

{'John': 'Jenny', 'Charles': 'Christy', 'Mike': 'Monica'}

In [75]:
# n = list(x)
# print(n)

In [76]:
for i in x:
    print(i)

('John', 'Jenny')
('Charles', 'Christy')
('Mike', 'Monica')

In [77]:
a = ("John", "Charles", "Mike",'Harriet')
b = ("Jenny", "Christy", "Monica", "Vicky")

dict_1 = dict(zip(a,b))
dict_1

{'John': 'Jenny', 'Charles': 'Christy', 'Mike': 'Monica', 'Harriet': 'Vicky'}

In [78]:
a = ("John", "Charles", "Mike",'Harriet')
b = ("Jenny", "Christy", "Monica", "Vicky")

list_1 = list(zip(a,b))
list_1

[('John', 'Jenny'),
 ('Charles', 'Christy'),
 ('Mike', 'Monica'),
 ('Harriet', 'Vicky')]

In [79]:
a = ["John", "Charles", "Mike",'Harriet']
b = ["Jenny", "Christy", "Monica", "Vicky"]

list_1 = list(zip(a,b))
list_1

[('John', 'Jenny'),
 ('Charles', 'Christy'),
 ('Mike', 'Monica'),
 ('Harriet', 'Vicky')]

## try and except

try() is used in Error and Exception Handling
There are two kinds of errors :

Syntax Error : Also known as Parsing Errors, most basic. Arise when the Python parser is unable to understand a line of code.

Exception : Errors which are detected during execution. eg â€“ ZeroDivisionError.
List of Exception Errors :

- IOError : if file canâ€™t be opened
- KeyboardInterrupt : when an unrequired key is pressed by the user
- ValueError : when built-in function receives a wrong argument
- EOFError : if End-Of-File is hit without reading any data
- ImportError : if it is unable to find the module

In [2]:
value = "Hello_World"

In [5]:
change_to_int = int(value) #Will throw an error (obvious)

ValueError: invalid literal for int() with base 10: 'Hello_World'

In [7]:
try:
    change_to_int = int(value)
except Exception as e:
    print(e)
    print("Cannot convert to int")

invalid literal for int() with base 10: 'Hello_World'
Cannot convert to int

### Example using list

In [13]:
random_list = [56.43,"Hola",89.00065,45.01,"random_text"]

In [14]:
converted_int = []
for i in random_list:
    try:
        random_variable = int(i)
    except:
        random_variable = "hobey naa"

    converted_int.append(random_variable)

In [15]:
converted_int

[56, 'hobey naa', 89, 45, 'hobey naa']

## Question - 1

Create a UDF which takes your name as input (a string). It stores each unique character of your name in a list in sorted order. Using enumerate and dict function, the function should return a dictionary with keys as integer starting from 0 and values as sorted characters of your name.

Example:

Input: 'devesh'

Output:

{0: 'd',
1: 'e',
2: 'h',
3: 's',
4: 'v'
}

## Question - 2

Create a UDF which takes your name as input (a string). It stores each unique character of your name in a list in sorted order. Using zip and dict function, the function should return a dictionary with keys as integer starting from 0 and values as sorted characters of your name.

Example:

Input: 'devesh'

Output:

{0: 'd',
1: 'e',
2: 'h',
3: 's',
4: 'v'
}

# List Comprehensions

List comprehensions provide a concise way to create lists. 

Common applications are to make new lists where each element is the result of some operations applied to each member of another sequence or iterable, or to create a subsequence of those elements that satisfy a certain condition.

In [84]:
squares = []

for x in range(10):
    squares.append(x**2)
    
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [85]:
x

9

Note that this creates (or overwrites) a variable named 'x' that still exists after the loop completes. We can calculate the list of squares without any side effects using:

In [83]:
squares = list(map(lambda x: x**2, range(10)))
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

or, equivalently:

In [88]:
squares = [x**2 for x in range(10)]
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

which is more concise and readable.

A list comprehension consists of brackets containing an expression followed by a 'for' clause, then zero or more 'for' or 'if' clauses. The result will be a new list resulting from evaluating the expression in the context of the for and if clauses which follow it.

For example, this listcomp combines the elements of two lists if they are not equal:

In [89]:
[(x, y) for x in [1,2,3] for y in [3,1,4] if x != y]

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

and itâ€™s equivalent to:

In [91]:
combs = []
for x in [1,2,3]:
    for y in [3,1,4]:
        if x != y:
            combs.append((x, y))

In [92]:
combs

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

## Let's Create few List Comprehensions

In [94]:
x = [1,5,8]

### Question - 1
Create a list using list comprehension that add integer 2 to a pre-defined list elements.

List: [1,5,8]

Output: [3,7,10]

In [98]:
[i+2 for i in x]

[3, 7, 10]

### Question - 2
Create a list using list comprehension that extract only even value from a pre-defined list.

List: [1,4,8,11]

Output: [4,8]

In [103]:
x = [1,4,8,11]

[i for i in x if i%2==0]

[4, 8]

### Question - 3

Create a list using list comprehension that add elements of two different list.

List_1: [1,5]

List_2: [4,5]

Output: [5, 6, 9, 10]

In [105]:
x = [1,5]
y = [4,5]

[(i+j) for i in x for j in y]

[5, 6, 9, 10]

### Question - 4

Create a list using list comprehension that add elements of two different list if they are not equal.

List_1: [1,5]

List_2: [4,5,8]

Output: [5, 6, 9, 9, 13]

In [109]:
x = [1,5]
y = [4,5,8]

[(i+j) for i in x for j in y if i!=j]

[5, 6, 9, 9, 13]

# Exercise

## Question 1

Maria plays college basketball and wants to go pro. Each season she maintains a record of her play. She tabulates the number of times she breaks her season record for most points and least points in a game. Points scored in the first game establish her record for the season, and she begins counting from there.

For example, assume her scores for the season are represented in the array = [12,24,10,24] . Scores are in the same order as the games played.

Given Maria's scores for a season, find and print the number of times she breaks her records.

Create a user defined function which can take:

- number of matches played
- scores in those matches

Output: an integer - how many times she has broken her own records in the season

The function defined should pass following test cases by returning the desired output:

- 4
- 12,24,10,24
- output: 1


- 8
- 10, 5, 20, 20, 4, 6, 25, 20
- output: 2


- 12
- 1,2,2,3,3,3,4,4,4,4,5,5
- output: 4

In [4]:
def brokenrecords():
    print("Enter the number of matches played in the season: ")
    n = int(input())

    ar = []

    for i in range(n):
        print("Enter the score of match ",i+1, ":")
        num = int(input())
        ar.append(num)
    
    count = 0
    base_score = ar[0]
    for i in ar:
        if i>base_score:
            count = count + 1
            base_score = i
    
    return count

In [2]:
brokenrecords()

Enter the number of matches played in the season:
9
Enter the score of match:  1 :
10
Enter the score of match:  2 :
5
Enter the score of match:  3 :
20
Enter the score of match:  4 :
20
Enter the score of match:  5 :
5
Enter the score of match:  6 :
25
Enter the score of match:  7 :
35
Enter the score of match:  8 :
20
Enter the score of match:  9 :
22

3

## Question 2

John works at a clothing store. He has a large pile of socks that he must pair by color for sale. Given an array of integers representing the color of each sock, determine how many pairs of socks with matching colors there are.

For example, there are n=7 socks with colors array = [1,2,1,2,1,3,2]. There is one pair of color '1' and one of color '2'. There are three odd socks left, one of each color. The number of pairs is '2'.

Create a user defined function 'sockMerchant' can take parameters:

n: the number of socks in the pile

ar: the colors of each sock

Output: It must return an integer representing the number of matching pairs of socks that are available.

The function defined should pass following test cases by returning the desired output:

- 5
- 1,1,2,2,2
- output: 2


- 8
- 1,1,1,2,2,3,4,4
- output: 3


- 12
- 1,2,1,3,4,2,6,3,5,2,1,5
- output: 4

In [271]:
def sockMerchant():
    print("Enter  the number of socks in the pile: ")
    n = int(input())

    ar = []

    for i in range(n):
        print("Enter the colors of each sock: ",i+1, ":")
        num = int(input())
        ar.append(num)
    
    total_count = n
    full_list = ar
    unique = set(full_list)
    pair = 0
    remaining = 0

    for i in unique:
        m = [x for x in full_list if x==i]
        k = len(m)//2
        l = len(m)%2
        
        pair = pair + k
        remaining = remaining + l
        
    return(pair)

In [272]:
sockMerchant()

Enter  the number of socks in the pile:
7
Enter the colors of each sock:  1 :
1
Enter the colors of each sock:  2 :
2
Enter the colors of each sock:  3 :
1
Enter the colors of each sock:  4 :
2
Enter the colors of each sock:  5 :
1
Enter the colors of each sock:  6 :
2
Enter the colors of each sock:  7 :
3

2